body{
    background : rgba(0, 128, 255, 0.72);
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:column;
}
.console{
    background: rgb(0, 34, 255);
    width:760px;
    height: 360px;
    align-self: center;
    margin-top: 15%;
    display: flex;
    flex-flow: column;
 }
.upbar{
    background: brown;
    text-align: center;


}

.cconsole{

}
.console-out{
    background: rgb(0, 34, 255);
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 740px;

}
.console-type{
    margin-top: auto;

}
.console-in{
    width: 550px;
    outline: none; /* Remove the outline */
    background: transparent; /* Make the background transparent */
    border: none; /* Remove the border */
    color: white; /* Set the text color to white */
    font-family: "Share Tech Mono", monospace;
    font-size: 20px; /* Increase the font size */
}
.console-text{
    overflow-y: auto;
    max-height: 340px;
}

a{
    text-decoration: none;
    color: #ecbd02;
}
.console-prefix{
    color: #ecbd02;
}